nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    font-size: 12px;
    list-style: none;
    padding: 4px 16px;
    background-color: #d6d3d1;
    color: #78716c;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}

nav ul li.active {
    background-color: #2563eb;
    color: white;
}